<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
    <h1>Hello {{data.name}}</h1>
    <p>Thank you for your interest in Collaborating on the Recommendation System dataset, Verify your account by Clicking on the Button Below</p>
    <strong>Please note the Link expires in 5 minutes</strong>
    <a href="{{data.link}}" class="btn btn-primary" target="_blank">Verify Account</a>
</body>
</html>